/* RESETEO */
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* VARIABLES ESTILOS */
:root{
    --color-gris: #405059;
    --color-turquesa: #0c8f8f;
    --color-verde: #73b06f;
    --color-amarillo: #edd75a;
    --color-anaranjado: #ffad08;
}

/* HEADER */
header {
    width: 100%;
    height: 80px;
    background-color: var(--color-gris);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .logo {
    width: 100%;
    height: 80px;
    background-color: #405059;
    box-shadow: 5px 0 5px black;
    margin: 0;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--color-verde);
    z-index: 10;
}
header .desplegable {
    position: absolute;
    top: -150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-gris);
    transition: all 300ms ease-in-out;

    z-index: 1;
}
header .desplegable {
    transition: all 300ms ease-in-out ;
}
header .desplegable .nav-bar{
    width: 100%;
}
header .desplegable .nav-bar .nav-list{
    width: 100%;
}
header .desplegable .nav-bar .nav-list .nav-item{
    width: 100%;
}
header .desplegable .nav-bar .nav-list .nav-item .nav-link{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: var(--color-verde);
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
}
header .desplegable .nav-bar .nav-list .nav-item .nav-link:hover{
 background-color: var(--color-verde);
 color: var(--color-gris);
}
header .desplegable #boton-desplegar{
    border: none;
    border-radius: 0px;
    background-color: transparent;
    color: var(--color-verde);
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    transition: all 300ms ease-in-out;

}
header .desplegable #boton-desplegar img{
    transition: all 300ms ease-in-out;
}

/* VARIABLES JS */
.desplegar{
    transform: translateY(230px);
}
.rotar180{
    transform: rotate(-180deg);
}
.ocultar{
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

/* MAIN */
main{
    margin-top: 65px;
    width: 100%;
    height: auto;
}
main #inicio{
    width: inherit;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 500px;
    background-color: #73b06f;
}
main #inicio #bienvenida{
    font-size: 2.5rem;
    padding-top: 25px;
    text-align: center;
    color: white;
}
main #inicio .texto-bienvenida{
    margin: 30px auto;
    padding: 0 30px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}
/* Estilo general para sutitulo */
main section .subtitulo{
    margin: 50px 0;
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-gris);
}

/* Estilos secciones */
/* TARJETA DE AÑADIR */
#añadir{
    width: 100%;
}
#añadir .contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#añadir .contenedor .añadir-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px black solid;
    border-radius: 5%;
    width: fit-content;
    padding: 5px;
    background: linear-gradient(-45deg, var(--color-turquesa), var(--color-verde));
}
#añadir .contenedor .añadir-tarjeta:hover{
    transform: scale(1.1);
}
#añadir .contenedor .añadir-tarjeta .tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border: 1px black solid;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.937);
}
/* items de la tarjeta */
#añadir .contenedor .añadir-tarjeta .tarjeta #atNumero{
    align-self: flex-start;
    margin: 3px 0 0 5px;
    font-size: larger;
    font-weight: bolder;
}
#añadir .contenedor .añadir-tarjeta .tarjeta #atNombre{
    font-size: larger;
    font-weight: bolder;
    margin: 5px 0;
}
#añadir .contenedor .añadir-tarjeta .tarjeta #atCorreo{
    margin: 10px 6px 5px 6px;
    color: rgb(165, 165, 165);
}
#añadir .contenedor .añadir-tarjeta #btn-tarjeta{
    margin: 10px;
    padding: 5px;
    border: 1px black solid;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.963);
    cursor: pointer;
}
#añadir .contenedor .añadir-tarjeta #btn-tarjeta:active{
    background-color: rgba(255, 255, 255, 0.719);
    box-shadow: none;
}

/* Formulario */
#añadir .contenedor #añadirForm {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#añadir .contenedor #añadirForm > .inputs{
    width: 300px;
    height: 50px;
    padding: 0 3px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3%;
    color: var(--color-gris);
    font-size: 1.5rem;
}
#añadir .contenedor #añadirForm > label{
    width: 300px;
    height: 20px;
    margin: 14px 0 0 0;
}