/* RESETEO */
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* VARIABLES ESTILOS */
:root{
    --color-gris: #405059;
    --color-turquesa: #0c8f8f;
    --color-verde: #73b06f;
    --color-amarillo: #edd75a;
    --color-anaranjado: #ffad08;
}

/* HEADER */
header {
    width: 100%;
    height: 10vh;
    background-color: var(--color-gris);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
header #desplegable{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-gris);
    position: absolute;
    top: -24vh;
    transition: all 300ms ease-in-out;
}
header #desplegable #nav-bar{
    width: inherit;
}
header #desplegable #nav-bar .nav-list{
    width: inherit;
}
header #desplegable #nav-bar .nav-list .nav-item{
    width: inherit;
}
header #desplegable #nav-bar .nav-list .nav-item .nav-link{
    display: block;
    width: inherit;
    border: none;
    text-align: center;
    line-height: 40px;
    color: var(--color-verde);
    background-color: var(--color-gris);
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
    transition: all 150ms ease-in-out;
}
header #desplegable #nav-bar .nav-list .nav-item #nav-link:hover{
    background-color: var(--color-verde);
    color: var(--color-gris);
}

header #desplegable #logo{
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    cursor: pointer;
    background-color: var(--color-gris);
}
header #desplegable #logo p{
    font-size: 3rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--color-verde);
    margin-right: 20px;
}
header #desplegable #logo #boton-desplegar{
    background-color: transparent;
    border: none;
}
header #desplegable #logo #boton-desplegar img{
    transition: all 300ms ease-in-out;
}

/* VARIABLES JS */
.desplegar{
    transform: translateY(25vh);
}

.rotar180{
    transform: rotate(-180deg);
}
.ocultar{
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
}


/* MAIN */
main{
    width: 100%;
}
main #inicio{
    height: 90vh;
    width: inherit;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 500px;
    background-color: #73b06f;
}
main #inicio #bienvenida{
    font-size: 2.5rem;
    padding-top: 25px;
    text-align: center;
    color: white;
}
main #inicio .texto-bienvenida{
    margin: 30px auto;
    padding: 0 30px;
    max-width: 80vw;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}
/* Estilo general para sutitulo */
main section .subtitulo{
    margin: 50px 0;
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-gris);
}

/* Estilos secciones */
/* TARJETA DE AÑADIR */
#añadir{
    width: 100%;
    padding-top: 50px;
    border-bottom: 2px black double;
}
#añadir .contenedor{
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#añadir .contenedor .añadir-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px black solid;
    border-radius: 5%;
    width: fit-content;
    padding: 5px;
    background: linear-gradient(-45deg, var(--color-turquesa), var(--color-verde));
}
#añadir .contenedor .añadir-tarjeta:hover{
    transform: scale(1.1);
}
#añadir .contenedor .añadir-tarjeta .tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 250px;
    border: 1px black solid;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.9);
}
/* items de la tarjeta */
#añadir .contenedor .añadir-tarjeta .tarjeta #atNumero{
    align-self: flex-start;
    margin: 3px 0 0 5px;
    font-size: larger;
    font-weight: bolder;
}
#añadir .contenedor .añadir-tarjeta .tarjeta #atNombre{
    font-size: larger;
    font-weight: bolder;
    margin: 5px 0;
}
#añadir .contenedor .añadir-tarjeta .tarjeta #atGasto{
    align-self: flex-end;
    margin: 5px 5px 0 0;
    border-top: 1px solid black ;
}
#añadir .contenedor .añadir-tarjeta .tarjeta #atLleva{
    width: 90%;
    height: 95px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#añadir .contenedor .añadir-tarjeta .tarjeta #atLleva::-webkit-scrollbar{
    display: none;
}
#añadir .contenedor .añadir-tarjeta .tarjeta #atLleva p{
    align-self: flex-start;
}
#añadir .contenedor .añadir-tarjeta .tarjeta #atCorreo{
    margin: 10px 6px 5px 6px;
    color: rgb(165, 165, 165);
    width: 140px;
    text-align: center;
    word-wrap: break-word;
}
#añadir .contenedor .añadir-tarjeta #btnAgregar{
    margin: 10px;
    padding: 5px;
    border: 1px black solid;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.963);
    cursor: pointer;
}
#añadir .contenedor .añadir-tarjeta #btn-tarjeta:active{
    background-color: rgba(255, 255, 255, 0.719);
    box-shadow: none;
}

/* Formulario */
#añadir .contenedor #añadirForm {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#añadir .contenedor #añadirForm .inputs{
    width: 300px;
    height: 50px;
    padding: 0 3px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3%;
    color: var(--color-gris);
    font-size: 1.5rem;
}
#añadir .contenedor #añadirForm .inputs::placeholder{
    color: rgb(175, 175, 175);
    font-size: small;
    text-align: center;
}
#añadir .contenedor #añadirForm label{
    width: 300px;
    height: 20px;
    margin: 14px 0 0 0;
}
#añadir .contenedor #añadirForm .btnNuevoGasto{
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px black solid;
    align-self: flex-end;
    cursor: pointer;
}

/* Seccion de Gestion de invitados */
#btnLimpiarLS{
    width: fit-content;
    padding: 10px;
    background-color: var(--color-verde);
    border-radius: 10%;
    border: 1px var(--color-turquesa) solid;
    box-shadow: 1px 1px 2px var(--color-gris);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 50ms ease-in-out;
}
#btnLimpiarLS:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px 3px var(--color-gris);
}
#btnLimpiarLS:active{
    box-shadow: none;
    transform: scale(1);
}
#lista{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lista .contenedorInvitados{
    width: 80vw;
    margin: auto;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#lista .contenedorInvitados > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* TARJETA */
#lista .contenedorInvitados div .contenedorRender{
    margin: 20px 30px;
    padding: 10px;
    background: linear-gradient(-45deg, var(--color-turquesa), var(--color-verde));
    border-radius: 5%;
    transition: all 150ms ease-in-out;
}
#lista .contenedorInvitados div .contenedorRender:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 4px black;
}
#lista .contenedorInvitados div .contenedorRender .renderTarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.9);
    width: 200px;
    height: 250px;
    padding: 5px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
#lista .contenedorInvitados div .contenedorRender .renderTarjeta .num{
    align-self: flex-start;
    font-size: larger;
    font-weight: bolder;
}
#lista .contenedorInvitados div .contenedorRender .renderTarjeta .nom{
    font-size: larger;
    font-weight: bolder;
    margin: 5px 0;
}
#lista .contenedorInvitados div .contenedorRender .renderTarjeta .gas{
    align-self: flex-end;
    margin: 15px 5px 0 0;
    border-top: 1px solid black ;
}
#lista .contenedorInvitados div .contenedorRender .renderTarjeta .cor{
    margin: 10px 6px 5px 6px;
    color: rgb(165, 165, 165);
    word-wrap: break-word;
}
/* BOTONES DE EDICION  *los saque temporalmente* */
/* #lista .contenedorInvitados div .editarBotones{
    z-index: 2;
    position: relative;
    left: -20px;
    transition: all 150px ease-in-out;
    display: none;
}
#lista .contenedorInvitados div .editarBotones .btn{
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px black solid;
    border-radius: 15px 5px 5px 15px;
    background-color: var(--color-amarillo);
    cursor: pointer;
}
#lista .contenedorInvitados div .editarBotones .btn:hover{
    background-color: var(--color-anaranjado);
} */